<div style="background-color:white;width:auto;height:65px;overflow:hidden">
    <div style="width:auto;font-size:30px;color:dodgerblue;font-weight:bolder;float:left;margin-left:20px;margin-top:5px;">
        大有期货期权项目管理系统
    </div>
    <div style="margin-right:20px">
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("首页", "Index", "Home")</li>
            <li>@Html.ActionLink("配置", "Index", "Config")</li>
            <li>@Html.ActionLink("注销", "Login", "Home")</li>
        </ul>
    </div>
</div>