
@{
    Layout = null;
}
<script>
    $(function () {
        initTable();
        BindAddPartnerClickEvent();
        BindUpdatePartnerClickEvent();
    });
    function initTable() {
        $('#PartnerGrid').datagrid({
            title: '合作者列表',
            iconCls: 'icon-user',
            loadMsg: '数据加载中...',
            nowrap: true,
            autoRowHeight: true,
            striped: true,
            url: '/Home/PartnerConfig_Read',
            sortName: 'PartnerID',
            sortOrder: 'asc',
            border: true,
            remoteSort: false,
            idField: 'PartnerID',
            //pageSize: 10,
            //pagination: true,
            //rownumbers: true,
            singleSelect: true,
            fitColumns: true,
            columns: [[
                { field: 'ck', checkbox: true },
                { field: 'PartnerID', title: 'ID', width: 50, sortable: true },
                { field: 'PartnerName', title: '合作者名称', width: 300, sortable: true },
                { field: 'PartnerDescribe', title: "合作者描述", width: 350, sortable: true }
            ]],
            toolbar: [{
                id: 'btnadd',
                text: '添加合作者',
                iconCls: 'icon-add',
                handler: function () {
                    AddPartnerDialog();
                }
            }, '-', {
                id: 'btnedit',
                text: '修改合作者',
                iconCls: 'icon-edit',
                handler: function () {
                    UpdatePartnerDialog();
                }
            }, '-', {
                id: 'btncut',
                text: '删除合作者',
                iconCls: 'icon-cut',
                handler: function () {
                    DeletePartner();
                }
            }, '-', {
                id: 'btnrefresh',
                text: '刷新',
                iconCls: 'icon-reload',
                handler: function () {
                    initTable();
                }
            }],
            onDblClickRow: function (index, row) {
                UpdatePartnerDialog();
            }
        });
    }
    function AddPartnerDialog() {
        $('#AddPartnerDialog').dialog('open').dialog('setTitle', '添加合作者');
        ClearText();
    }
    //添加合作者添加事件
    function BindAddPartnerClickEvent() {
        $("#btnAddPartner").click(function () {
            //验证所有的文本框是否通过合作者的验证
            var valid = $('#AddPartnerForm').form('validate');
            if (valid == false) {
                return false;
            }
            var token = $('@Html.AntiForgeryToken()').val();
            var headers = {};
            headers["__RequestVerificationToken"] = token;
            //创建传递的参数
            var postdata = {
                PartnerName: $("#PartnerName2").val(),
                PartnerDescribe: $("#PartnerDescribe2").val()
            };

            //发送异步请求到后台保存合作者数据
            $.ajax({
                type: 'POST',
                url: '/Home/AddPartner',
                cache: false,
                headers: headers,
                data: postdata,
                success: function (data) {
                    if (data && data.Success) {
                        $.messager.show({
                            title: '我的消息',
                            msg: '新增合作者成功。',
                            timeout: 5000,
                            showType: 'slide'
                        });
                        $('#AddPartnerDialog').dialog('close');
                        $("#PartnerGrid").datagrid("reload");
                    }
                    else {
                        alert("添加失败，请您检查");
                    }
                },
                error: function () {
                    alert("添加失败，请您检查")
                }
            });
        });
    }
    function UpdatePartnerDialog() {
        var UpdatePartnerID = $("#PartnerGrid").datagrid("getSelections");
        if (UpdatePartnerID.length == 1) {
            $("#UpdatePartnerDialog").dialog("open").dialog("setTitle", "修改合作者信息");
            BingPartnerDetails();
        }
        else {
            $.messager.alert("友情提示", "每次只能修改一行数据，你已经选择了<font color='red' size='6'>" + UpdatePartnerID.length + "</font>行");
        }
    }
    function BingPartnerDetails() {
        //首先获取选中的合作者的ID
        var CheckID = $("#PartnerGrid").datagrid("getSelections")[0].PartnerID;

        //使用异步的getJSON请求绑定前台传递过来的数据httpget
        $.getJSON("/Home/GetPartnerDetails", { ID: CheckID }, function (data) {
            if (data && data.Success) {
                $("#PartnerID").val(CheckID);
                $("#PartnerName1").val(data.PartnerName);
                $("#PartnerDescribe1").val(data.PartnerDescribe);
            } else {
                $.messager.alert("提示", "数据查询失败");
            }

        });
    }
    //修改合作者事件
    function BindUpdatePartnerClickEvent() {
        $("#btnUpdatePartner").click(function () {
            //首先判断前台的验证是否通过
            var valid = $('#UpdatePartner').form('validate');
            if (valid == false) {
                return false;
            }
            var token = $('@Html.AntiForgeryToken()').val();
            var headers = {};
            headers["__RequestVerificationToken"] = token;
            //创建传递的参数
            var postdata = {
                PartnerID: $("#PartnerID").val(),
                PartnerName: $("#PartnerName1").val(),
                PartnerDescribe: $("#PartnerDescribe1").val()
            };
            //使用异步实现修改合作者信息
            $.ajax({
                type: 'POST',
                url: '/Home/UpdatePartner',
                cache: false,
                headers: headers,
                data: postdata,
                success: function (data) {
                    if (data && data.Success) {
                        $.messager.show({
                            title: '我的消息',
                            msg: '修改合作者成功。',
                            timeout: 5000,
                            showType: 'slide'
                        });
                        $("#UpdatePartnerDialog").dialog('close');
                        $("#PartnerGrid").datagrid('reload');
                    }
                    else {
                        alert("修改失败，请检查");
                    }
                },
                error: function () {
                    alert("修改失败，请检查");
                }
            });
            
        });
    }
    function DeletePartner() {
        //获取到合作者选定ID
        var deletePartner = $("#PartnerGrid").datagrid("getSelections");
        //判断合作者选择了多少条数据
        if (deletePartner.length == 1) {
            var PartnerName = deletePartner[0].PartnerName;
            var PartnerID = deletePartner[0].PartnerID;
            $.messager.confirm("删除信息", "您确认删除<font color='Red' size='3'>" + PartnerName + "</font>吗？", function (DeletePartner) {
                if (DeletePartner) {
                    var token = $('@Html.AntiForgeryToken()').val();
                    var headers = {};
                    headers["__RequestVerificationToken"] = token;
                    
                    $.ajax({
                        type: 'POST',
                        url: '/Home/DeletePartner',
                        cache: false,
                        headers: headers,
                        data: { ID: PartnerID },
                        success: function (data) {
                            if (data && data.Success) {
                                $.messager.show({
                                    title: '我的消息',
                                    msg: '删除合作者成功。',
                                    timeout: 5000,
                                    showType: 'slide'
                                });
                                $("#PartnerGrid").datagrid("reload");
                                $("#PartnerGrid").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert("友情提示", "删除失败:" + data);
                            }
                        },
                        error: function () {
                            alert("删除失败，请检查");
                        }
                    });
                }
            });
        }
        else {
            $.messager.alert("友情提示", "请您选择要删除的数据");
        }
    }
    //清空文本框中的值
    function ClearText() {
        $("#PartnerName1").val("");
        $("#PartnerDescribe1").val("");
        $("#PartnerName2").val("");
        $("#PartnerDescribe2").val("");
    }
</script>
<div>
    <table id="PartnerGrid"></table>
    @*添加合作者弹窗*@
    <div id="AddPartnerDialog" class="easyui-dialog" style="width:560px;height:340px;padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="AddPartnerForm" method="post" novalidate="novalidate">
            <table id="tblAdd">
                <tr>
                    <td><label for="PartnerName">合作者名称：</label></td>
                    <td><input class="easyui-validatebox form-control" type="text" id="PartnerName2" name="PartnerName" data-options="required:true,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="PartnerDescribe">合作者描述：</label></td>
                    <td><input class="easyui-validatebox form-control" type="text" id="PartnerDescribe2" name="PartnerDescribe" data-options="required:false,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; padding-top:10px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddPartner" iconcls="icon-ok">确定</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#AddPartnerDialog').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @*修改合作者弹窗*@
    <div id="UpdatePartnerDialog" class="easyui-dialog" style="width:560px;height:340px;padding:10px 20px"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="UpdatePartner" method="post" novalidate="novalidate">
            <table id="tblUpdate">
                <tr style="visibility:hidden">
                    <td><label for="PartnerID">ID:</label></td>
                    <td><input class="easyui-validatebox" type="text" id="PartnerID" name="PartnerID" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td><label for="PartnerName">合作者名称：</label></td>
                    <td><input class="easyui-validatebox form-control" type="text" id="PartnerName1" name="PartnerName" data-options="required:true,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="PartnerDescribe">合作者描述：</label></td>
                    <td><input class="easyui-validatebox form-control" type="text" id="PartnerDescribe1" name="PartnerDescribe" data-options="required:false,validType:'length[1,32]'" style="width:350px;" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; padding-top:10px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnUpdatePartner" iconcls="icon-ok">确定</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript: $('#UpdatePartnerDialog').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>