
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
@*<link href="~/Content/themes/bootstrap/easyui.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
@*<link href="~/Content/highlight.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap-switch.min.js" type="text/javascript"></script>
@*<script src="~/Scripts/highlight.js" type="text/javascript"></script>*@
@*<script src="~/Scripts/switch-main.js"></script>*@
@*<script src="~/Scripts/jquery.easyui.min.js" type="text/javascript"></script>
<script src="~/Scripts/easyui-lang-zh_CN.js"></script>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <h2 class="h4">State</h2>
            <p style="height:30px">
                <input id="switch-Checking" type="checkbox" checked>
            </p>
            <p>
                <input id="switch-ONOFFMode" type="checkbox" checked>
            </p>
            <p>
                <input id="switch-HandSwitch" type="checkbox" data-on-text="en" data-off-text="ex">
            </p>
        </div>

    </div>
</div>
@*<div><input id="switch-ONOFFMode" type="checkbox" checked data-on-text="手动设置" data-off-text="时间自动设置"></div>
    <input id="switch-HandSwitch" type="checkbox" data-on-text="启用" data-off-text="停用">
    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnUpdate" iconcls="icon-search" onclick="SwitchSet()">设置</a>*@


<script>
    $(function (argument) {
        $("#switch-ONOFFMode").bootstrapSwitch('onText', '测试12');
        $("#switch-ONOFFMode").bootstrapSwitch('offText', '测试53');
        $('#switch-ONOFFMode,#switch-HandSwitch,#switch-Checking').bootstrapSwitch();
    })
</script>