@{
    ViewBag.Title = "产品详情";
}
<div class="product-a"><div class="Iron-Man"> 价格补偿服务-扛跌一号</div></div>
<div class="product-b">
    <!--标题文字部分-->
    <div class="size">
        <div>
            <!-- style="width:100px;" -->
            <p>产品期限：</p>
            <p>标的合约：</p>
            <p>购买起点：</p>
            <p>服<em>务</em>费：</p>
            <p>购买时间：</p>
        </div>
        <div>
            <!--  style="width:455px;" -->
            <p>10天</p>
            <p>RB1610(上海期货交易所螺纹钢期货合约)</p>
            <p>10吨起售，超过购买起点份额的部分，应为10吨的整数倍。</p>
            <p>20元/吨</p>
            <p>每日除14:30至17:00时段皆可购买。</p>
        </div>
    </div>
</div>
<a id="pp"></a>
<div class="product-c"></div>

<div id="contant">

    <div class="img-a"><img src="~/images/arrow.jpg" /></div>
    <div class="img-b"><img src="~/images/arrow1.jpg"></div>
    <div class="img-c"><img src="~/images/arrow3.jpg" style="transform:rotate(-180deg);"></div>

    <div class="img-d"><img src="~/images/arrow3.jpg"></div>
    <div class="img-e"><img src="~/images/arrow4.jpg"></div>

    <div class="nav">
        <img src="~/images/nav_01.png" width="607" height="55" usemap="#Map" border="0" />
        <map name="Map" id="Map">
            <area shape="rect" coords="3,5,204,53" href="index" />
            <area shape="rect" coords="206,7,407,53" href="buy" />
            <area shape="rect" coords="410,6,605,51" href="example" />
        </map>
    </div>
    <!--结算说明-->
    <div class="date-b"><img src="~/images/solid.jpg" /></div>
    <div class="explain">
        <p><font>补偿说明：</p>
        <p></font>  若到期日对应的上海期货交易所螺纹钢期货合约10个自然日内所有交易日收盘价的均价（结算价）对比购买日收盘价（基准价）下跌，则按下跌部分的50%（元/吨）的价格补偿。</p>
        <p><font>结算公式：</p>
        <p></font> 补偿款/（10吨）=max（基准价-结算价,0）*50%*10</p>
        <div class="explain">
            <div style="margin-left:250px; border:15px solid #5c0d01; width:630px;">
                <img src="~/images/chart1.jpg" width="630" height="327" />
            </div>
            <!--日期说明-->
            <div class="date"><img src="~/images/solid.jpg" /></div>
            <div class="buy">
                <p><font>购买日：</p>
                <p></font>成功购买产品完成付款之日即为购买日。以交易日14:30时点划分，前一交易日（T-1）14:30至本交易日（T）14:30期间完成付款的以本交易日（T）为购买日，本交易日（T）14:30之后的完成付款的以下一交易日（T+1）为购买日。</p>
                <p><font>到期日：</p>
                <p></font>自购买日下一日始按产品期限计算到期日。到期日为周六、周日或法定节假日的，则前推第一个交易日为到期日，结算价则按前推第一个交易日的收盘价为结算价。</p>
                <p><font>交易日：</p>
                <p></font>指股票、期货交易的日期。期货、股票的交易日为除中国法定节假日外的周一至周五。</p>
            </div>
            <!--示例图-->
            <div class="buy-c"><img src="~/images/solid.jpg" /></div>
            <div class="explain">
                <div style="margin-left:250px; border:15px solid #5c0d01; width:630px;">
                    <img src="~/images/date1.jpg" width="630" height="327" />
                </div>
            </div>

            <div class="curson">
                <p><a href="#">《价格补偿服务风险揭示书》</a></p>
                <p><a href="#">《价格补偿服务购买协议》</a></p>

            </div>

        </div>
        </div>
</div>