@{
    Layout = "~/Views/Shared/_ConfigLayout.cshtml";
}

<div id="main-tab">
    <div title="About" style="padding:10px">
        <p style="font-size:24px">大有期货迅财航管理后台</p>
        <ul>
            <li>人员配置</li>
            <li>角色配置</li>
            <li>菜单配置</li>
            <li>权限配置</li>
            <li>日志查看</li>
        </ul>
    </div>
</div>
